.clearfix::after{
    content:"";
    clear: both;
    display: table;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(32, 38, 53);;
    margin: 0;
}
.main-menu-continair{
    padding-top: 50px;
    
}

.main-menu{
    padding: 0;
    border-bottom: 3px solid #68d2c3;
    /* az inline blok ragál az igatzításra */
    text-align: center;
}

.main-menu-itme{
    display: inline-block;
    position: relative;

}
 .main-menu-itme a,
 .main-menu-itme span{
     display: block;
     text-decoration: NONE;
     color: #54BEFF;
     font-size: 20px;
     
     padding: 20px 0;
 }

 .main-menu-itme > a,
 .main-menu-itme span{
    width: 120px;
 }

/* > közvetlen gyerek */
.main-menu-itme:hover > a,
.main-menu-itme:hover span{
    color: white;
    background-color: rgb(34 116 175);
    cursor: pointer;
    
}

.sub-menu{
    list-style: none;
    background-color: rgb(34 116 175);
    padding: 0;
    position: absqolute;
    top: 64px;
    width: 200px;
    display: NONE;
    
}
.main-menu-itme:hover > .sub-menu{
    display: block;
}


.sub-menu-item:hover a{
    background-color: rgb(66,130,177);
    color: white;
}


.main-content{
    color: white;
    width: 800px;
    margin: 40px auto 0 auto;

}
header{
    width: 400px;
}
h1{
    font-size: 30px;
    margin-bottom: 10px;
}

header p{
    font-size: 22px;
    margin: 0 0 30px 0;
}
.company-image{
    float: right;
}

main{
    width: 500px;
    line-height: 1.6;
}

footer{
    color: white;
    text-align: center;
    margin-top: 20px;
    
}